body {
  font-family: sans-serif;
  margin: 0px;
}
.first {
  background-color: cornflowerblue;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: whitesmoke;
}
.name,
.nav-one {
  display: inline;
  padding: 10px;
}

.second,
.third {
  padding-top: 7px;
  padding-left: 20px;
  padding-bottom: 25px;
}
.third {
  background-color: cornflowerblue;
  color: whitesmoke;
}
.second h1 {
  color: cornflowerblue;
}
.meme {
  border: 3px goldenrod solid;
  border-radius: 10px;
  text-align: center;
  height: 40px;
  width: 160px;
  line-height: 40px;
}
.meme:hover {
  color: black;
  background-color: #e65100;
}
.meme a {
  text-decoration: none;
  color: goldenrod;
  cursor: pointer;
}

button {
  display: inline-block;
  color: whitesmoke;
  border: 4px solid navajowhite;
  border-radius: 10px;
  font-size: 20px;
  padding: 15px 20px;
  height: 60px;
  width: 150px;
  box-shadow: 1px 1px 2px black;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: 20px;
}
.button-1 {
  background-color: #aa00ff;
}
.button-2 {
  background-color: #00b0ff;
}
.button-3 {
  background-color: #e65100;
}
button:hover {
  color: black;
  background-color: pink;
}
.third li {
  list-style-type: none;
}
img {
  border-radius: 20px;
  margin: 20px;
  display: block;
  margin-left: 300px;
  margin-top: -200px;
  width: 400px;
}
